@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root {
    font-size: 24px;
    --font: 'Neucha', cursive;
    --bg-color: black;
    --font-color: #f4f4f4;
    --input-border-color: white;
    --accent-color: #00FFFF;
}

html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    background: var(--bg-color);
    color: var(--font-color);
}

@media (min-width: 400px) {
    body {
        max-width: 400px;
        font-size: 18px;
    }
    input {
        width: 300px;
    }
}
@media (min-width: 500px) {
    body {
        font-size: 24px;
    }
    input {
        max-width: 350px;
    }
}
h1 span, .output span {
    display: inline-block;
}
h1 {
    font-size: 2em;
    color: var(--font-color);
    /* line-height: 1;
    margin: none; */
}
h1 span::first-letter, .output span::first-letter {
    color: var(--accent-color);
    font-weight: bold;
}

a:link, 
a:visited, 
a:active, 
a:hover, 
a:focus {
    display: block;
    text-decoration: none;
    color: var(--accent-color);
    padding: 8px;
    font-size: 1.2em;
}
a:hover {
    color: var(--font-color);
}

input {
    display: block;
    background: var(--bg-color);
    font-family: inherit;
    font-size: 1.5em;
    color: var(--font-color);
    padding: 20px;
    border: 2px solid var(--input-border-color);
    border-radius: 12px;
    text-align: center;
}

.output {
    font-family: inherit;
    margin-top: 25px;
    font-size: 1.4em;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.error {
    color: orangered;
}